DSC-EDES-ADF-master/templates/wms_pipeline_daily_upload_specific_table/wms_pipeline_daily_upload_specific_table.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"LKS_AzureSynapseAnalytics_ldwh_config": {
			"type": "string"
		},
		"Generic_oracle_source": {
			"type": "string"
		},
		"gen_target": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/wms_pipeline_daily_upload_specific_table')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get table names",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "SELECT *  FROM dbo.ADF_WMS_CONFIG_TABLES WHERE [INSTANCE_NAME]='@{pipeline().parameters.instance_name}' AND [TABLE_NAME]='@{pipeline().parameters.Table}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ADF_CONFIG_TABLES",
								"type": "DatasetReference",
								"parameters": {
									"TABLE": "ADF_WMS_CONFIG_TABLES"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Copy each table with delete from archive",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get ARCH instance info",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get table names with deletion",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy each table from production",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get table names with deletion').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If arch table is partitioned",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(coalesce(item().PARTITION_COL_NAME_ARCH,'N/A'),'N/A')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Copy partitioned data from archive",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Delete1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "TableName",
														"value": "@{item().TABLE_NAME}"
													},
													{
														"name": "Source",
														"value": "@{activity('Get arch instance info').output.firstRow.SOURCE_SCHEMA}.@{item().TABLE_NAME}"
													},
													{
														"name": "Destination",
														"value": "development/adf_stage/@{'WMS'}/@{pipeline().parameters.instance_name}/@{'ARCH'}/@{item().TABLE_NAME}/current/"
													}
												],
												"typeProperties": {
													"source": {
														"type": "OracleSource",
														"oracleReaderQuery": {
															"value": "SELECT @{item().KEY_COLUMNS_ARCH} \nFROM @{activity('Get arch instance info').output.firstRow.SOURCE_SCHEMA}.@{item().TABLE_NAME} \nWHERE ?AdfRangePartitionColumnName <= ?AdfRangePartitionUpbound  AND ?AdfRangePartitionColumnName >= ?AdfRangePartitionLowbound",
															"type": "Expression"
														},
														"partitionOption": "DynamicRange",
														"partitionSettings": {
															"partitionColumnName": {
																"value": "@{item().PARTITION_COL_NAME_ARCH}",
																"type": "Expression"
															},
															"partitionUpperBound": {
																"value": "@{item().UPPER_BOUND}",
																"type": "Expression"
															},
															"partitionLowerBound": {
																"value": "@{item().LOWER_BOUND}",
																"type": "Expression"
															}
														},
														"convertDecimalToInteger": false,
														"queryTimeout": "02:00:00"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "gen_wms_source",
														"type": "DatasetReference",
														"parameters": {
															"SchemaName": {
																"value": "@activity('Get arch instance info').output.firstRow.SOURCE_SCHEMA",
																"type": "Expression"
															},
															"TableName": "@item().TABLE_NAME",
															"HOST": {
																"value": "@activity('Get arch instance info').output.firstRow.HOST",
																"type": "Expression"
															},
															"PORT": {
																"value": "@activity('Get arch instance info').output.firstRow.PORT",
																"type": "Expression"
															},
															"SID": {
																"value": "@activity('Get arch instance info').output.firstRow.SID",
																"type": "Expression"
															},
															"USER_NAME": {
																"value": "@activity('Get arch instance info').output.firstRow.USER_NAME",
																"type": "Expression"
															},
															"PASSWORD": {
																"value": "@activity('Get arch instance info').output.firstRow.PASSWORD",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "gen_wms_sink",
														"type": "DatasetReference",
														"parameters": {
															"SOURCE_OBJECT_NAME": "@item().TABLE_NAME",
															"target_instance": {
																"value": "@pipeline().parameters.instance_name",
																"type": "Expression"
															},
															"target_storage_account": {
																"value": "@activity('Get arch instance info').output.firstRow.TARGET_STORAGE_ACCOUNT",
																"type": "Expression"
															},
															"mode": "ARCH",
															"System": "WMS",
															"storage_container": "development"
														}
													}
												]
											},
											{
												"name": "Delete1",
												"type": "Delete",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "gen_wms_sink",
														"type": "DatasetReference",
														"parameters": {
															"SOURCE_OBJECT_NAME": "@item().TABLE_NAME",
															"target_instance": {
																"value": "@pipeline().parameters.instance_name",
																"type": "Expression"
															},
															"target_storage_account": {
																"value": "@activity('Get arch instance info').output.firstRow.TARGET_STORAGE_ACCOUNT",
																"type": "Expression"
															},
															"mode": "ARCH",
															"System": "WMS",
															"storage_container": "development"
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Copy unpartitioned data from archive",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Delete from arch",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "TableName",
														"value": "@{item().TABLE_NAME}"
													},
													{
														"name": "Source",
														"value": "@{activity('Get arch instance info').output.firstRow.SOURCE_SCHEMA}.@{item().TABLE_NAME}"
													},
													{
														"name": "Destination",
														"value": "development/adf_stage/@{'WMS'}/@{pipeline().parameters.instance_name}/@{'ARCH'}/@{item().TABLE_NAME}/current/"
													}
												],
												"typeProperties": {
													"source": {
														"type": "OracleSource",
														"oracleReaderQuery": {
															"value": "SELECT @{item().KEY_COLUMNS_ARCH} FROM @{item().TABLE_NAME}",
															"type": "Expression"
														},
														"partitionOption": "None",
														"queryTimeout": "02:00:00"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "gen_wms_source",
														"type": "DatasetReference",
														"parameters": {
															"SchemaName": {
																"value": "@activity('Get arch instance info').output.firstRow.SOURCE_SCHEMA",
																"type": "Expression"
															},
															"TableName": "@item().TABLE_NAME",
															"HOST": {
																"value": "@activity('Get arch instance info').output.firstRow.HOST",
																"type": "Expression"
															},
															"PORT": {
																"value": "@activity('Get arch instance info').output.firstRow.PORT",
																"type": "Expression"
															},
															"SID": {
																"value": "@activity('Get arch instance info').output.firstRow.SID",
																"type": "Expression"
															},
															"USER_NAME": {
																"value": "@activity('Get arch instance info').output.firstRow.USER_NAME",
																"type": "Expression"
															},
															"PASSWORD": {
																"value": "@activity('Get arch instance info').output.firstRow.PASSWORD",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "gen_wms_sink",
														"type": "DatasetReference",
														"parameters": {
															"SOURCE_OBJECT_NAME": "@item().TABLE_NAME",
															"target_instance": {
																"value": "@pipeline().parameters.instance_name",
																"type": "Expression"
															},
															"target_storage_account": {
																"value": "@activity('Get arch instance info').output.firstRow.TARGET_STORAGE_ACCOUNT",
																"type": "Expression"
															},
															"mode": "ARCH",
															"System": "WMS",
															"storage_container": "development"
														}
													}
												]
											},
											{
												"name": "Delete from arch",
												"type": "Delete",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "gen_wms_sink",
														"type": "DatasetReference",
														"parameters": {
															"SOURCE_OBJECT_NAME": "@item().TABLE_NAME",
															"target_instance": {
																"value": "@pipeline().parameters.instance_name",
																"type": "Expression"
															},
															"target_storage_account": {
																"value": "@activity('Get prod instance info').output.firstRow.TARGET_STORAGE_ACCOUNT",
																"type": "Expression"
															},
															"mode": "ARCH",
															"System": "WMS",
															"storage_container": "development"
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Get ARCH instance info",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM dbo.ADF_WMS_CONFIG_INSTANCES WHERE [INSTANCE_NAME]='@{pipeline().parameters.instance_name}' AND MODE='ARCH'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ADF_CONFIG_INSTANCES",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Get PROD instance info",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM dbo.ADF_WMS_CONFIG_INSTANCES WHERE [INSTANCE_NAME]='@{pipeline().parameters.instance_name}' AND [MODE]='PROD'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ADF_CONFIG_INSTANCES",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Copy each table from production",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get PROD instance info",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get table names",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get table names').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If prod table is partitioned",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(coalesce(item().PARTITION_COL_NAME_ARCH,'N/A'),'N/A')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Copy partitioned data from prod",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Delete1_copy1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Table_name",
														"value": "@{item().TABLE_NAME}"
													},
													{
														"name": "Source",
														"value": "@{activity('Get prod instance info').output.firstRow.SOURCE_SCHEMA}.@{item().TABLE_NAME}"
													},
													{
														"name": "Destination",
														"value": "development/adf_stage/@{'WMS'}/@{pipeline().parameters.instance_name}/@{'PROD'}/@{item().TABLE_NAME}/current/"
													}
												],
												"typeProperties": {
													"source": {
														"type": "OracleSource",
														"oracleReaderQuery": {
															"value": "SELECT * FROM @{activity('Get prod instance info').output.firstRow.SOURCE_SCHEMA}.@{item().TABLE_NAME} WHERE ?AdfRangePartitionColumnName <= ?AdfRangePartitionUpbound  AND ?AdfRangePartitionColumnName >= ?AdfRangePartitionLowbound",
															"type": "Expression"
														},
														"partitionOption": "DynamicRange",
														"partitionSettings": {
															"partitionColumnName": {
																"value": "@{item().PARTITION_COL_NAME_PROD}",
																"type": "Expression"
															},
															"partitionUpperBound": {
																"value": "@{item().UPPER_BOUND}",
																"type": "Expression"
															},
															"partitionLowerBound": {
																"value": "@{item().LOWER_BOUND}",
																"type": "Expression"
															}
														},
														"convertDecimalToInteger": false,
														"queryTimeout": "02:00:00"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "gen_wms_source",
														"type": "DatasetReference",
														"parameters": {
															"SchemaName": {
																"value": "@activity('Get prod instance info').output.firstRow.SOURCE_SCHEMA",
																"type": "Expression"
															},
															"TableName": "@item().TABLE_NAME",
															"HOST": {
																"value": "@activity('Get prod instance info').output.firstRow.HOST",
																"type": "Expression"
															},
															"PORT": {
																"value": "@activity('Get prod instance info').output.firstRow.PORT",
																"type": "Expression"
															},
															"SID": {
																"value": "@activity('Get prod instance info').output.firstRow.SID",
																"type": "Expression"
															},
															"USER_NAME": {
																"value": "@activity('Get prod instance info').output.firstRow.USER_NAME",
																"type": "Expression"
															},
															"PASSWORD": {
																"value": "@activity('Get prod instance info').output.firstRow.PASSWORD",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "gen_wms_sink",
														"type": "DatasetReference",
														"parameters": {
															"SOURCE_OBJECT_NAME": "@item().TABLE_NAME",
															"target_instance": {
																"value": "@pipeline().parameters.instance_name",
																"type": "Expression"
															},
															"target_storage_account": {
																"value": "@activity('Get prod instance info').output.firstRow.TARGET_STORAGE_ACCOUNT",
																"type": "Expression"
															},
															"mode": "PROD",
															"System": "WMS",
															"storage_container": "development"
														}
													}
												]
											},
											{
												"name": "Delete1_copy1",
												"type": "Delete",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "gen_wms_sink",
														"type": "DatasetReference",
														"parameters": {
															"SOURCE_OBJECT_NAME": "@item().TABLE_NAME",
															"target_instance": {
																"value": "@pipeline().parameters.instance_name",
																"type": "Expression"
															},
															"target_storage_account": {
																"value": "@activity('Get prod instance info').output.firstRow.TARGET_STORAGE_ACCOUNT",
																"type": "Expression"
															},
															"mode": "PROD",
															"System": "WMS",
															"storage_container": "development"
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Copy unpartitioned data from prod",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Delete from prod",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Table_name",
														"value": "@{item().TABLE_NAME}"
													},
													{
														"name": "Source",
														"value": "@{activity('Get prod instance info').output.firstRow.SOURCE_SCHEMA}.@{item().TABLE_NAME}"
													},
													{
														"name": "Destination",
														"value": "development/adf_stage/@{'WMS'}/@{pipeline().parameters.instance_name}/@{'PROD'}/@{item().TABLE_NAME}/current/"
													}
												],
												"typeProperties": {
													"source": {
														"type": "OracleSource",
														"partitionOption": "None",
														"queryTimeout": "02:00:00"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "gen_wms_source",
														"type": "DatasetReference",
														"parameters": {
															"SchemaName": {
																"value": "@activity('Get prod instance info').output.firstRow.SOURCE_SCHEMA",
																"type": "Expression"
															},
															"TableName": "@item().TABLE_NAME",
															"HOST": {
																"value": "@activity('Get prod instance info').output.firstRow.HOST",
																"type": "Expression"
															},
															"PORT": {
																"value": "@activity('Get prod instance info').output.firstRow.PORT",
																"type": "Expression"
															},
															"SID": {
																"value": "@activity('Get prod instance info').output.firstRow.SID",
																"type": "Expression"
															},
															"USER_NAME": {
																"value": "@activity('Get prod instance info').output.firstRow.USER_NAME",
																"type": "Expression"
															},
															"PASSWORD": {
																"value": "@activity('Get prod instance info').output.firstRow.PASSWORD",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "gen_wms_sink",
														"type": "DatasetReference",
														"parameters": {
															"SOURCE_OBJECT_NAME": "@item().TABLE_NAME",
															"target_instance": {
																"value": "@pipeline().parameters.instance_name",
																"type": "Expression"
															},
															"target_storage_account": {
																"value": "@activity('Get prod instance info').output.firstRow.TARGET_STORAGE_ACCOUNT",
																"type": "Expression"
															},
															"mode": "PROD",
															"System": "WMS",
															"storage_container": "development"
														}
													}
												]
											},
											{
												"name": "Delete from prod",
												"type": "Delete",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "gen_wms_sink",
														"type": "DatasetReference",
														"parameters": {
															"SOURCE_OBJECT_NAME": "@item().TABLE_NAME",
															"target_instance": {
																"value": "@pipeline().parameters.instance_name",
																"type": "Expression"
															},
															"target_storage_account": {
																"value": "@activity('Get prod instance info').output.firstRow.TARGET_STORAGE_ACCOUNT",
																"type": "Expression"
															},
															"mode": "PROD",
															"System": "WMS",
															"storage_container": "development"
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Get table names with deletion",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "SELECT * \nFROM dbo.ADF_WMS_CONFIG_TABLES \nWHERE [INSTANCE_NAME]='@{pipeline().parameters.instance_name}' \nAND [TABLE_NAME]='@{pipeline().parameters.Table}' \nAND [DELETE_LOGIC_FLAG]!=0  ",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ADF_CONFIG_TABLES",
								"type": "DatasetReference",
								"parameters": {
									"TABLE": "ADF_WMS_CONFIG_TABLES"
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"parameters": {
					"instance_name": {
						"type": "string",
						"defaultValue": "czpoh_2"
					},
					"Table": {
						"type": "string",
						"defaultValue": "ORDACT"
					}
				},
				"folder": {
					"name": "development/ldwh_warehousing"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-12T15:29:38Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADF_CONFIG_TABLES')]",
				"[concat(variables('factoryId'), '/datasets/ADF_CONFIG_INSTANCES')]",
				"[concat(variables('factoryId'), '/datasets/gen_wms_source')]",
				"[concat(variables('factoryId'), '/datasets/gen_wms_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_CONFIG_TABLES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('LKS_AzureSynapseAnalytics_ldwh_config')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TABLE": {
						"type": "string",
						"defaultValue": "NOT_USED"
					}
				},
				"folder": {
					"name": "development/ldwh_warehousing"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().TABLE",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_CONFIG_INSTANCES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('LKS_AzureSynapseAnalytics_ldwh_config')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "development/ldwh_warehousing"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "INSTANCE_NAME",
						"type": "varchar"
					},
					{
						"name": "SOURCE_OBJECT_NAME",
						"type": "varchar"
					},
					{
						"name": "UPLOAD_LOGIC",
						"type": "varchar"
					},
					{
						"name": "TABLE_TYPE",
						"type": "varchar"
					},
					{
						"name": "DELETE_LOGIC_FLAG",
						"type": "varchar"
					},
					{
						"name": "BUSINESS_KEY_LIST",
						"type": "varchar"
					},
					{
						"name": "SIGNIFICANT_KEY_LIST",
						"type": "varchar"
					},
					{
						"name": "PK_SURROGATE_KEY_LAST_VALUE",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "PK_SURROGATE_KEY_FLAG",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FK_SURROGATE_KEY_INFO",
						"type": "varchar"
					},
					{
						"name": "GATE_DELETE_COLUMN",
						"type": "varchar"
					},
					{
						"name": "NOTEBOOK_PATH_INITIAL_LOAD",
						"type": "varchar"
					},
					{
						"name": "NOTEBOOK_PATH_DAILY_LOAD",
						"type": "varchar"
					},
					{
						"name": "DATE_OF_INITIAL_UPLOAD",
						"type": "datetime2",
						"scale": 0
					},
					{
						"name": "DATE_OF_LAST_CHANGE",
						"type": "datetime2",
						"scale": 0
					},
					{
						"name": "LAST_REFFERENCE_DATE",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "GATE_UPLOAD_VALUE",
						"type": "datetime2",
						"scale": 0
					},
					{
						"name": "ACTIVE_FLAG",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LOAD_ORDER",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ADF_CONFIG_INSTANCES"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/gen_wms_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('Generic_oracle_source')]",
					"type": "LinkedServiceReference",
					"parameters": {
						"HOST": {
							"value": "@dataset().HOST",
							"type": "Expression"
						},
						"PORT": {
							"value": "@dataset().PORT",
							"type": "Expression"
						},
						"SID": {
							"value": "@dataset().SID",
							"type": "Expression"
						},
						"USER_NAME": {
							"value": "@dataset().USER_NAME",
							"type": "Expression"
						},
						"SECRET": {
							"value": "@dataset().PASSWORD",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"SchemaName": {
						"type": "string",
						"defaultValue": "DLXCZCHEP2"
					},
					"TableName": {
						"type": "string",
						"defaultValue": "SHIPMENT"
					},
					"HOST": {
						"type": "string",
						"defaultValue": "czstlls0679.prg-dc.dhl.com "
					},
					"PORT": {
						"type": "string",
						"defaultValue": "1521"
					},
					"SID": {
						"type": "string",
						"defaultValue": "WR262PS"
					},
					"USER_NAME": {
						"type": "string",
						"defaultValue": "RO_BI_CZCHEP2"
					},
					"PASSWORD": {
						"type": "string",
						"defaultValue": "###"
					}
				},
				"folder": {
					"name": "development/ldwh_warehousing"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/gen_wms_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('gen_target')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SOURCE_OBJECT_NAME": {
						"type": "string",
						"defaultValue": "ADRMST"
					},
					"target_instance": {
						"type": "string",
						"defaultValue": "CZCHE_2"
					},
					"target_storage_account": {
						"type": "string",
						"defaultValue": "https://dscglblceedadlstpldnsazr.dfs.core.windows.net"
					},
					"mode": {
						"type": "string",
						"defaultValue": "PROD"
					},
					"System": {
						"type": "string",
						"defaultValue": "WMS"
					},
					"storage_container": {
						"type": "string",
						"defaultValue": "development"
					}
				},
				"folder": {
					"name": "development/ldwh_warehousing"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "adf_stage/@{dataset().System}/@{dataset().target_instance}/@{dataset().mode}/@{dataset().SOURCE_OBJECT_NAME}/current",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@{dataset().storage_container}",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}