DSC-EDES-ADF-master/pipeline/oracle_initial_upload_skip_arch_tables_VM_SHIR_00.json
{
	"name": "oracle_initial_upload_skip_arch_tables_VM_SHIR_00",
	"properties": {
		"description": "the pipeline loads all tables from prod and from arch tables excluding the tables in parameter skip_arch_table_names",
		"activities": [
			{
				"name": "Get table names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT st.SOURCE_OBJECT_NAME TABLE_NAME, S.SOURCE_NAME INSTANCE_NAME,\nLOAD_ARCHIVE_FLAG DELETE_LOGIC_FLAG, LOAD_ORDER,\nKEY_COLUMNS_ARCH, S.SYSTEM_DOMAIN [SYSTEM], LOWER_BOUND, PARTITION_COL_NAME_ARCH, PARTITION_COL_NAME_PROD, UPPER_BOUND\n FROM @{pipeline().globalParameters.environment_db}.TBL_STAGE_TABLES ST inner join \n @{pipeline().globalParameters.environment_db}.TBL_STAGE_SOURCES S on\nST.STAGE_SOURCE_ID=S.STAGE_SOURCE_ID\nwhere  S.SOURCE_NAME='@{pipeline().parameters.instance_name}'\nORDER BY LOAD_ORDER",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CONFIG_TABLES",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table_name": "ADF_WMS_CONFIG_INSTANCES"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get ARCH instance info",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT S.SOURCE_NAME as INSTANCE_NAME, LOWER(S.SYSTEM_DOMAIN) [SYSTEM], MODE,HOST,PORT,SID,USER_NAME,PASSWORD,SOURCE_SCHEMA,TARGET_STORAGE_ACCOUNT, S.SYSTEM_NAME\nFROM @{pipeline().globalParameters.environment_db}.[TBL_STAGE_ORACLE_CONNECTION_INFO] CI inner join @{pipeline().globalParameters.environment_db}.TBL_STAGE_SOURCES S on\nCI.STAGE_SOURCE_ID=S.STAGE_SOURCE_ID\nwhere S.SOURCE_NAME='@{pipeline().parameters.instance_name}' AND [MODE]='ARCH'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CONFIG_TABLES",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table_name": "ADF_WMS_CONFIG_INSTANCES"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Get PROD instance info",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT S.SOURCE_NAME as INSTANCE_NAME, LOWER(S.SYSTEM_DOMAIN) [SYSTEM], MODE,HOST,PORT,SID,USER_NAME,PASSWORD,SOURCE_SCHEMA,TARGET_STORAGE_ACCOUNT, S.SYSTEM_NAME\nFROM @{pipeline().globalParameters.environment_db}.[TBL_STAGE_ORACLE_CONNECTION_INFO] CI inner join @{pipeline().globalParameters.environment_db}.TBL_STAGE_SOURCES S on\nCI.STAGE_SOURCE_ID=S.STAGE_SOURCE_ID\nwhere S.SOURCE_NAME='@{pipeline().parameters.instance_name}' AND [MODE]='PROD'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CONFIG_TABLES",
						"type": "DatasetReference",
						"parameters": {
							"schema": "xxx",
							"table_name": "xxx"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy each table from production",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get table names",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get PROD instance info",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set storage container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get table names').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If prod table is not partitioned",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(coalesce(item().PARTITION_COL_NAME_ARCH,'N/A'),'N/A')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Delete partitioned from prod",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "gen_wms_sink",
												"type": "DatasetReference",
												"parameters": {
													"SOURCE_OBJECT_NAME": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"target_instance": {
														"value": "@pipeline().parameters.instance_name",
														"type": "Expression"
													},
													"target_storage_account": {
														"value": "@activity('Get PROD instance info').output.firstRow.MODE",
														"type": "Expression"
													},
													"mode": {
														"value": "@activity('Get PROD instance info').output.firstRow.MODE",
														"type": "Expression"
													},
													"System": {
														"value": "@concat(\n    activity('Get PROD instance info').output.firstRow.SYSTEM_NAME,\n    '_',\n    activity('Get PROD instance info').output.firstRow.SYSTEM)",
														"type": "Expression"
													},
													"storage_container": {
														"value": "@pipeline().globalParameters.environment_container",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "Copy partitioned data from prod",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Delete partitioned from prod",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "Table_name",
												"value": "@{item().TABLE_NAME}"
											},
											{
												"name": "Source",
												"value": "@{activity('Get prod instance info').output.firstRow.SOURCE_SCHEMA}.@{item().TABLE_NAME}"
											},
											{
												"name": "Destination",
												"value": "@{variables('storage_container')}/adf_stage/@{activity('Get PROD instance info').output.firstRow.SYSTEM}/@{pipeline().parameters.instance_name}/@{'PROD'}/@{item().TABLE_NAME}/current/"
											}
										],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"oracleReaderQuery": {
													"value": "SELECT * FROM @{activity('Get PROD instance info').output.firstRow.SOURCE_SCHEMA}.@{item().TABLE_NAME}\nWHERE ?AdfRangePartitionColumnName <= ?AdfRangePartitionUpbound \nAND ?AdfRangePartitionColumnName >= ?AdfRangePartitionLowbound",
													"type": "Expression"
												},
												"partitionOption": "DynamicRange",
												"partitionSettings": {
													"partitionColumnName": {
														"value": "@{item().PARTITION_COL_NAME_PROD}",
														"type": "Expression"
													},
													"partitionUpperBound": {
														"value": "@{item().UPPER_BOUND}",
														"type": "Expression"
													},
													"partitionLowerBound": {
														"value": "@{item().LOWER_BOUND}",
														"type": "Expression"
													}
												},
												"convertDecimalToInteger": false,
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "gen_oracle_source_VM_SHIR_00",
												"type": "DatasetReference",
												"parameters": {
													"SchemaName": {
														"value": "@activity('Get prod instance info').output.firstRow.SOURCE_SCHEMA",
														"type": "Expression"
													},
													"TableName": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"HOST": {
														"value": "@activity('Get prod instance info').output.firstRow.HOST",
														"type": "Expression"
													},
													"PORT": {
														"value": "@activity('Get prod instance info').output.firstRow.PORT",
														"type": "Expression"
													},
													"SID": {
														"value": "@activity('Get prod instance info').output.firstRow.SID",
														"type": "Expression"
													},
													"USER_NAME": {
														"value": "@activity('Get prod instance info').output.firstRow.USER_NAME",
														"type": "Expression"
													},
													"PASSWORD": {
														"value": "@activity('Get prod instance info').output.firstRow.PASSWORD",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "gen_wms_sink",
												"type": "DatasetReference",
												"parameters": {
													"SOURCE_OBJECT_NAME": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"target_instance": {
														"value": "@pipeline().parameters.instance_name",
														"type": "Expression"
													},
													"target_storage_account": {
														"value": "@activity('Get PROD instance info').output.firstRow.TARGET_STORAGE_ACCOUNT",
														"type": "Expression"
													},
													"mode": {
														"value": "@activity('Get PROD instance info').output.firstRow.MODE",
														"type": "Expression"
													},
													"System": {
														"value": "@concat(\n    activity('Get PROD instance info').output.firstRow.SYSTEM_NAME,\n    '_',\n    activity('Get PROD instance info').output.firstRow.SYSTEM)",
														"type": "Expression"
													},
													"storage_container": {
														"value": "@pipeline().globalParameters.environment_container",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Delete partitioned from prod_copy1",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "gen_wms_sink",
												"type": "DatasetReference",
												"parameters": {
													"SOURCE_OBJECT_NAME": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"target_instance": {
														"value": "@pipeline().parameters.instance_name",
														"type": "Expression"
													},
													"target_storage_account": {
														"value": "@activity('Get PROD instance info').output.firstRow.MODE",
														"type": "Expression"
													},
													"mode": {
														"value": "@activity('Get PROD instance info').output.firstRow.MODE",
														"type": "Expression"
													},
													"System": {
														"value": "@concat(\n    activity('Get PROD instance info').output.firstRow.SYSTEM_NAME,\n    '_',\n    activity('Get PROD instance info').output.firstRow.SYSTEM)",
														"type": "Expression"
													},
													"storage_container": {
														"value": "@pipeline().globalParameters.environment_container",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "Copy unpartitioned data from prod",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Delete partitioned from prod_copy1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "Table_name",
												"value": "@{item().TABLE_NAME}"
											},
											{
												"name": "Source",
												"value": "@{activity('Get prod instance info').output.firstRow.SOURCE_SCHEMA}.@{item().TABLE_NAME}"
											},
											{
												"name": "Destination",
												"value": "@{variables('storage_container')}/adf_stage/@{activity('Get PROD instance info').output.firstRow.SYSTEM}/@{pipeline().parameters.instance_name}/@{'PROD'}/@{item().TABLE_NAME}/current/"
											}
										],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"partitionOption": "None",
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "gen_oracle_source_VM_SHIR_00",
												"type": "DatasetReference",
												"parameters": {
													"SchemaName": {
														"value": "@activity('Get prod instance info').output.firstRow.SOURCE_SCHEMA",
														"type": "Expression"
													},
													"TableName": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"HOST": {
														"value": "@activity('Get prod instance info').output.firstRow.HOST",
														"type": "Expression"
													},
													"PORT": {
														"value": "@activity('Get prod instance info').output.firstRow.PORT",
														"type": "Expression"
													},
													"SID": {
														"value": "@activity('Get prod instance info').output.firstRow.SID",
														"type": "Expression"
													},
													"USER_NAME": {
														"value": "@activity('Get prod instance info').output.firstRow.USER_NAME",
														"type": "Expression"
													},
													"PASSWORD": {
														"value": "@activity('Get prod instance info').output.firstRow.PASSWORD",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "gen_wms_sink",
												"type": "DatasetReference",
												"parameters": {
													"SOURCE_OBJECT_NAME": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"target_instance": {
														"value": "@pipeline().parameters.instance_name",
														"type": "Expression"
													},
													"target_storage_account": {
														"value": "@activity('Get PROD instance info').output.firstRow.TARGET_STORAGE_ACCOUNT",
														"type": "Expression"
													},
													"mode": {
														"value": "@activity('Get PROD instance info').output.firstRow.MODE",
														"type": "Expression"
													},
													"System": {
														"value": "@concat(\n    activity('Get PROD instance info').output.firstRow.SYSTEM_NAME,\n    '_',\n    activity('Get PROD instance info').output.firstRow.SYSTEM)",
														"type": "Expression"
													},
													"storage_container": {
														"value": "@pipeline().globalParameters.environment_container",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Copy each table from archive",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get ARCH instance info",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy each table from production",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get ARCH table names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get ARCH table names').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If arch table is partitioned",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(coalesce(item().PARTITION_COL_NAME_ARCH,'N/A'),'N/A')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy partitioned data from archive",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Delete prev arch partitioned",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "TableName",
												"value": "@{item().TABLE_NAME}"
											},
											{
												"name": "Source",
												"value": "@{activity('Get arch instance info').output.firstRow.SOURCE_SCHEMA}.@{item().TABLE_NAME}"
											},
											{
												"name": "Destination",
												"value": "development/adf_stage/@{'WMS'}/@{pipeline().parameters.instance_name}/@{'ARCH'}/@{item().TABLE_NAME}/current/"
											}
										],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"oracleReaderQuery": {
													"value": "SELECT * FROM @{activity('Get ARCH instance info').output.firstRow.SOURCE_SCHEMA}.@{item().TABLE_NAME} WHERE ?AdfRangePartitionColumnName <= ?AdfRangePartitionUpbound AND ?AdfRangePartitionColumnName >= ?AdfRangePartitionLowbound\n",
													"type": "Expression"
												},
												"partitionOption": "DynamicRange",
												"partitionSettings": {
													"partitionColumnName": {
														"value": "@{item().PARTITION_COL_NAME_ARCH}",
														"type": "Expression"
													},
													"partitionUpperBound": {
														"value": "@{item().UPPER_BOUND}",
														"type": "Expression"
													},
													"partitionLowerBound": {
														"value": "@{item().LOWER_BOUND}",
														"type": "Expression"
													}
												},
												"convertDecimalToInteger": false,
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "gen_oracle_source_VM_SHIR_00",
												"type": "DatasetReference",
												"parameters": {
													"SchemaName": {
														"value": "@activity('Get ARCH instance info').output.firstRow.SOURCE_SCHEMA",
														"type": "Expression"
													},
													"TableName": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"HOST": {
														"value": "@activity('Get ARCH instance info').output.firstRow.HOST",
														"type": "Expression"
													},
													"PORT": {
														"value": "@activity('Get ARCH instance info').output.firstRow.PORT",
														"type": "Expression"
													},
													"SID": {
														"value": "@activity('Get ARCH instance info').output.firstRow.SID",
														"type": "Expression"
													},
													"USER_NAME": {
														"value": "@activity('Get ARCH instance info').output.firstRow.USER_NAME",
														"type": "Expression"
													},
													"PASSWORD": {
														"value": "@activity('Get ARCH instance info').output.firstRow.PASSWORD",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "gen_wms_sink",
												"type": "DatasetReference",
												"parameters": {
													"SOURCE_OBJECT_NAME": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"target_instance": {
														"value": "@pipeline().parameters.instance_name",
														"type": "Expression"
													},
													"target_storage_account": {
														"value": "@activity('Get ARCH instance info').output.firstRow.MODE",
														"type": "Expression"
													},
													"mode": {
														"value": "@activity('Get ARCH instance info').output.firstRow.MODE",
														"type": "Expression"
													},
													"System": {
														"value": "@concat(\n    activity('Get ARCH instance info').output.firstRow.SYSTEM_NAME,\n    '_',\n    activity('Get ARCH instance info').output.firstRow.SYSTEM)",
														"type": "Expression"
													},
													"storage_container": {
														"value": "@pipeline().globalParameters.environment_container",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Delete prev arch partitioned",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "gen_wms_sink",
												"type": "DatasetReference",
												"parameters": {
													"SOURCE_OBJECT_NAME": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"target_instance": {
														"value": "@pipeline().parameters.instance_name",
														"type": "Expression"
													},
													"target_storage_account": {
														"value": "@activity('Get ARCH instance info').output.firstRow.TARGET_STORAGE_ACCOUNT",
														"type": "Expression"
													},
													"mode": {
														"value": "@activity('Get ARCH instance info').output.firstRow.MODE",
														"type": "Expression"
													},
													"System": {
														"value": "@concat(\n    activity('Get ARCH instance info').output.firstRow.SYSTEM_NAME,\n    '_',\n    activity('Get ARCH instance info').output.firstRow.SYSTEM)",
														"type": "Expression"
													},
													"storage_container": {
														"value": "@pipeline().globalParameters.environment_container",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy unpartitioned data from archive",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Delete from arch",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "TableName",
												"value": "@{item().TABLE_NAME}"
											},
											{
												"name": "Source",
												"value": "@{activity('Get arch instance info').output.firstRow.SOURCE_SCHEMA}.@{item().TABLE_NAME}"
											},
											{
												"name": "Destination",
												"value": "@{variables('storage_container')}/adf_stage/@{activity('Get ARCH instance info').output.firstRow.SYSTEM}/@{pipeline().parameters.instance_name}/@{'ARCH'}/@{item().TABLE_NAME}/current/"
											}
										],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"partitionOption": "None",
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "gen_oracle_source_VM_SHIR_00",
												"type": "DatasetReference",
												"parameters": {
													"SchemaName": {
														"value": "@activity('Get ARCH instance info').output.firstRow.SOURCE_SCHEMA\n\n\n",
														"type": "Expression"
													},
													"TableName": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"HOST": {
														"value": "@activity('Get ARCH instance info').output.firstRow.HOST",
														"type": "Expression"
													},
													"PORT": {
														"value": "@activity('Get ARCH instance info').output.firstRow.PORT",
														"type": "Expression"
													},
													"SID": {
														"value": "@activity('Get ARCH instance info').output.firstRow.SID",
														"type": "Expression"
													},
													"USER_NAME": {
														"value": "@activity('Get ARCH instance info').output.firstRow.USER_NAME",
														"type": "Expression"
													},
													"PASSWORD": {
														"value": "@activity('Get ARCH instance info').output.firstRow.PASSWORD",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "gen_wms_sink",
												"type": "DatasetReference",
												"parameters": {
													"SOURCE_OBJECT_NAME": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"target_instance": {
														"value": "@pipeline().parameters.instance_name",
														"type": "Expression"
													},
													"target_storage_account": {
														"value": "@activity('Get ARCH instance info').output.firstRow.TARGET_STORAGE_ACCOUNT",
														"type": "Expression"
													},
													"mode": {
														"value": "@activity('Get ARCH instance info').output.firstRow.MODE",
														"type": "Expression"
													},
													"System": {
														"value": "@concat(     activity('Get ARCH instance info').output.firstRow.SYSTEM_NAME,     '_',     activity('Get ARCH instance info').output.firstRow.SYSTEM)",
														"type": "Expression"
													},
													"storage_container": {
														"value": "@pipeline().globalParameters.environment_container",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Delete from arch",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "gen_wms_sink",
												"type": "DatasetReference",
												"parameters": {
													"SOURCE_OBJECT_NAME": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"target_instance": {
														"value": "@pipeline().parameters.instance_name",
														"type": "Expression"
													},
													"target_storage_account": {
														"value": "@activity('Get ARCH instance info').output.firstRow.TARGET_STORAGE_ACCOUNT",
														"type": "Expression"
													},
													"mode": {
														"value": "@activity('Get ARCH instance info').output.firstRow.MODE",
														"type": "Expression"
													},
													"System": {
														"value": "@concat(\n    activity('Get ARCH instance info').output.firstRow.SYSTEM_NAME,\n    '_',\n    activity('Get ARCH instance info').output.firstRow.SYSTEM)",
														"type": "Expression"
													},
													"storage_container": {
														"value": "@pipeline().globalParameters.environment_container",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Get ARCH table names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT st.SOURCE_OBJECT_NAME TABLE_NAME, S.SOURCE_NAME INSTANCE_NAME,\nLOAD_ARCHIVE_FLAG DELETE_LOGIC_FLAG, LOAD_ORDER,\nKEY_COLUMNS_ARCH, S.SYSTEM_DOMAIN [SYSTEM], LOWER_BOUND, PARTITION_COL_NAME_ARCH, PARTITION_COL_NAME_PROD, UPPER_BOUND\n FROM @{pipeline().globalParameters.environment_db}.TBL_STAGE_TABLES ST inner join \n @{pipeline().globalParameters.environment_db}.TBL_STAGE_SOURCES S on\nST.STAGE_SOURCE_ID=S.STAGE_SOURCE_ID\nWHERE S.SOURCE_NAME='@{pipeline().parameters.instance_name}'\nAND st.SOURCE_OBJECT_NAME NOT IN (@{pipeline().parameters.skip_arch_table_names})\nORDER BY LOAD_ORDER",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CONFIG_TABLES",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table_name": "ADF_WMS_CONFIG_INSTANCES"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get starting timezone information",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get PROD instance info",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set storage container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 600,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT DBTIMEZONE FROM DUAL",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "gen_oracle_source_VM_SHIR_00",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@activity('Get PROD instance info').output.firstRow.SOURCE_SCHEMA",
								"type": "Expression"
							},
							"TableName": "unsused",
							"HOST": {
								"value": "@activity('Get PROD instance info').output.firstRow.HOST",
								"type": "Expression"
							},
							"PORT": {
								"value": "@activity('Get PROD instance info').output.firstRow.PORT",
								"type": "Expression"
							},
							"SID": {
								"value": "@activity('Get PROD instance info').output.firstRow.SID",
								"type": "Expression"
							},
							"USER_NAME": {
								"value": "@activity('Get PROD instance info').output.firstRow.USER_NAME",
								"type": "Expression"
							},
							"PASSWORD": {
								"value": "@activity('Get PROD instance info').output.firstRow.PASSWORD",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "gen_wms_sink",
						"type": "DatasetReference",
						"parameters": {
							"SOURCE_OBJECT_NAME": "DBTIMEZONE",
							"target_instance": {
								"value": "@pipeline().parameters.instance_name",
								"type": "Expression"
							},
							"target_storage_account": {
								"value": "@activity('Get PROD instance info').output.firstRow.TARGET_STORAGE_ACCOUNT",
								"type": "Expression"
							},
							"mode": {
								"value": "@activity('Get PROD instance info').output.firstRow.MODE",
								"type": "Expression"
							},
							"System": {
								"value": "@activity('Get PROD instance info').output.firstRow.SYSTEM",
								"type": "Expression"
							},
							"storage_container": {
								"value": "@variables('storage_container')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get column information",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get PROD instance info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select * from ALL_TAB_COLUMNS WHERE OWNER = '@{activity('Get PROD instance info').output.firstRow.SOURCE_SCHEMA}'",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "gen_oracle_source_VM_SHIR_00",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@activity('Get PROD instance info').output.firstRow.SOURCE_SCHEMA",
								"type": "Expression"
							},
							"TableName": {
								"value": "SHIPMENT",
								"type": "Expression"
							},
							"HOST": {
								"value": "@activity('Get PROD instance info').output.firstRow.HOST",
								"type": "Expression"
							},
							"PORT": {
								"value": "@activity('Get PROD instance info').output.firstRow.PORT",
								"type": "Expression"
							},
							"SID": {
								"value": "@activity('Get PROD instance info').output.firstRow.SID",
								"type": "Expression"
							},
							"USER_NAME": {
								"value": "@activity('Get PROD instance info').output.firstRow.USER_NAME",
								"type": "Expression"
							},
							"PASSWORD": {
								"value": "@activity('Get PROD instance info').output.firstRow.PASSWORD",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "gen_wms_sink",
						"type": "DatasetReference",
						"parameters": {
							"SOURCE_OBJECT_NAME": "ALL_TAB_COLUMNS",
							"target_instance": {
								"value": "@pipeline().parameters.instance_name",
								"type": "Expression"
							},
							"target_storage_account": {
								"value": "@activity('Get PROD instance info').output.firstRow.TARGET_STORAGE_ACCOUNT",
								"type": "Expression"
							},
							"mode": {
								"value": "@activity('Get PROD instance info').output.firstRow.MODE",
								"type": "Expression"
							},
							"System": {
								"value": "@concat(\n    activity('Get PROD instance info').output.firstRow.SYSTEM_NAME,\n    '_',\n    activity('Get PROD instance info').output.firstRow.SYSTEM)",
								"type": "Expression"
							},
							"storage_container": {
								"value": "@variables('storage_container')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set storage container",
				"description": "selects storage container based on environment pipeline is running in",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "storage_container",
					"value": {
						"value": "@if(equals(pipeline().globalParameters.environment_db, 'test'), 'development', 'production')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"instance_name": {
				"type": "string",
				"defaultValue": "esval_1"
			},
			"skip_arch_table_names": {
				"type": "string",
				"defaultValue": "'ORDACT', 'DLYTRN'"
			}
		},
		"variables": {
			"storage_container": {
				"type": "String",
				"defaultValue": "development"
			}
		},
		"folder": {
			"name": "development/ldwh_oracle/deploy_multi_SHIR/initial_upload"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-11T10:12:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}