DSC-EDES-ADF-master/pipeline/sftp_upload_binary_recursive_folder_VM_SHIR.json
{
	"name": "sftp_upload_binary_recursive_folder_VM_SHIR",
	"properties": {
		"activities": [
			{
				"name": "Get PROD data",
				"description": "This loop can be set to rerun prod load N times, or until it runs successfully. The condition is set up in the setting of the until loop. Counters are set up and added to within the loop",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "start pipeline VM IR",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\n    greater(\n        int(variables('count prod')),\n        1\n        ), \n    variables('prod succeeded'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set prod succeeded to true",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy PROD tables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "prod succeeded",
								"value": true
							}
						},
						{
							"name": "Add to temp prod",
							"description": "temporary variable, because ADF does not allow counter=counter+1 type assignments",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy PROD tables",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp prod",
								"value": {
									"value": "@{add(int(variables('count prod')),1)}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Add to prod counter",
							"description": "using the temp variable to add 1 to the actual prod counter",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Add to temp prod",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "count prod",
								"value": {
									"value": "@variables('temp prod')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy PROD tables",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "execute_pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pipelineName": {
										"value": "sftp_upload_binary_recursive_folder_VM00",
										"type": "Expression"
									},
									"pipelineParametersJson": {
										"value": "{ \"instance_name\":  \"@{pipeline().parameters.instance_name}\",\n  \"system\": \"@{pipeline().parameters.system}\",\n  \"mode\":\"PROD\",\n  \"file_pattern\": \"@{pipeline().parameters.file_pattern}\"\n  }",
										"type": "Expression"
									},
									"checkStatusWaitTime": 300,
									"waitForCompletion": "True"
								}
							}
						},
						{
							"name": "Wait before rerun PROD",
							"description": "Waits for a while, in case the reason for failure is transient",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Copy PROD tables",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 900
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "stop pipeline VM IR",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Continue only if PROD succeeded",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "stop_pipeline_VM_IR",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ThisRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"IR_alias": {
							"value": "@pipeline().parameters.IR_alias",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "start pipeline VM IR",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "start_pipeline_VM_IR",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"IR_alias": {
							"value": "@pipeline().parameters.IR_alias",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Continue only if PROD succeeded",
				"description": "Throws an error if the Get Prod data loop ended because it reached the max number of repetitions, not because it succeeded",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get PROD data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('prod succeeded')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "PROD Fail",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [
								{
									"name": "instance_name",
									"value": "@pipeline().parameters.instance_name"
								}
							],
							"typeProperties": {
								"message": {
									"value": "@concat('PROD load failed', variables('count arch'), 'times')",
									"type": "Expression"
								},
								"errorCode": "501"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"instance_name": {
				"type": "string",
				"defaultValue": "czchegy"
			},
			"system": {
				"type": "string",
				"defaultValue": "goodyear"
			},
			"IR_alias": {
				"type": "string",
				"defaultValue": "VM_SHIR_00"
			},
			"file_pattern": {
				"type": "string",
				"defaultValue": "*.xlsx"
			}
		},
		"variables": {
			"prod succeeded": {
				"type": "Boolean",
				"defaultValue": false
			},
			"count prod": {
				"type": "String",
				"defaultValue": "0"
			},
			"temp prod": {
				"type": "String",
				"defaultValue": "0"
			},
			"arch succeeded": {
				"type": "Boolean",
				"defaultValue": false
			},
			"count arch": {
				"type": "String",
				"defaultValue": "0"
			},
			"temp arch": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "development/ldwh_sftp/main_dynamic_SHIR"
		},
		"annotations": [],
		"lastPublishTime": "2024-02-21T08:48:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}